.contact-main-container{
 height: 100vh;
}

.image-zoom {
  width: 40%; /* adjust size */
  height: auto;
  animation: zoomInOut 5s ease-in-out infinite;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1); /* zoom in */
  }
  100% {
    transform: scale(1);   /* zoom out */
  }
}

.form-with-img{
  
    height: 70vh;
    width:70%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    
    
}
.form{
    height:90%;
    width: 35%;
  padding:25px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border: 0.1px solid rgb(120, 127, 162);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
   background-color: #17558580;
  border: 0.1px solid rgb(255, 255, 255);
  z-index: 0;
}
.form-dark{
  background-color: #17558580;
  border: 0.1px solid rgb(255, 255, 255);
}
.swal2-container {
  z-index: 9999 !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center;
  height: 80%;
  align-items: center;
  
}

.input-name{
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:16%;
    width: 100%;
}
.input-name-placeholder{
    border-width: 1px;
    border-color: #ffffff;
    height: 90%;
    margin-top: 2px;
    border-radius: 5px;
     padding: 5px;
     color: floralwhite;

}

label{
    color: #ffffff;
    font-size: 15px;
}
.text-area {
   /* optional: prevent manual resize */
   
   display: flex;
  
   flex-direction: column;
   justify-content: space-between;
   height: 200px;
}
.text{
    height: 85%;
    border-color: #ffffff;
    color: floralwhite;
    padding: 5px;
   border-width: 1px;
   border-radius: 6px;
}
.form-btn{
    
    width: 100%;
    height:10%;
    color:#ffffff;
    background-color: rgb(155, 155, 214);
    border-radius: 5px;
}
.form-btn:hover{
    cursor: pointer;
    background-color:rgb(94, 94, 211) ;
}
@media (max-width:768px){
    .image-zoom{
        display: none;
    }
    .form-with-img{
        width: 90%;
        
    }
    .form{
        width: 100%;
    }
}
.footer{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
  height:17%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  
}
.scroll{
  border: 1px solid rgb(228, 227, 223);
  height: 25px;
  width: 60px;
  border-radius: 20px;
  font-size: 12px;
  cursor: pointer;
}

.footer-icon{
  width: 20%;
}
.light-line{
 height: 30px;
  width: 100%;
  
  color: #111111;
}
.dark-line{
  height: 30px;
  width: 100%;
  
  color: #ffffff;
}
.copy-dark{
  color: rgb(247, 244, 244);
}
.copy-light{
  color: rgb(6, 6, 6);   
}
@media (max-width:768px) {
  .footer{
    width: 100%;
  }
  .footer-icon{
    width: 60%;
    
  }
}